<div>
  <h3>Your Score in this quiz is <%= @score3 %></h3>
</div>
<div>
  <%= link_to "Home Page" ,"/quizzes",:style =>'color:green' %>
</div>

<div>
<%= link_to "Logout", "/logout",:style =>'color:red' %>
</div>
